html{
    background-color: #3199dc;
}

nav {
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    font-size: 2rem;
    margin: 15px;
}

nav a:hover, ul a:active {
    color: #eca8b5;
}

.home {
    border: 0.3rem solid blue;
    background-color: white;
    color: black;
}